
.DS_Store
.vscode/launch.json
.vscode/settings.json
*.json
*.cmake
*.bin
*.make
test/sudoku42cmdl
*.tcl
test/CMakeFiles/TargetDirectories.txt
*.o
*.internal
*.includecache
*.marks
*.log
*.check_cache
test/CMakeFiles/3.17.0/CompilerIdCXX/CMakeCXXCompilerId.cpp
*.out
test/CMakeFiles/3.17.0/CompilerIdC/CMakeCCompilerId.c
Makefile
CMakeFiles/3.17.0/CompilerIdC/CMakeCCompilerId.c
build/CMakeFiles/sudoku42.dir/link.txt
build/CMakeCache.txt
sudoku42.app/Contents/MacOS/sudoku42
